<ng-container *ngIf="pokemon; else noPoke">
  <div class="pokeDetails">
    <img
      [ngStyle]="{ 'background-color': color() }"
      src="{{ pokemon.img_url }}"
      alt="Photo of a Shiba Inu"
    />
    <div class="name">{{ pokemon.name }}</div>
    <div class="id">N°{{ pokemon.id }}</div>
    <div class="type1">Type : {{ pokemon.type1 }}</div>
    <div *ngIf="pokemon.type2" class="type2">- {{ pokemon.type2 }}</div>
    <a *ngIf="pokemon?.evolves_from" class="evolves_from" (click)="onPokeClick(pokemon?.evolves_from)">
      Evolution de {{ pokeService.getPokemon(pokemon.evolves_from).name}}
    </a>
    <a *ngIf="pokemon?.evolves_to" class="evolves_to" (click)="onPokeClick(pokemon?.evolves_to)">
      Evolue en {{ pokeService.getPokemon(pokemon.evolves_to).name }}
    </a>
  </div>
</ng-container>

<ng-template #noPoke>
  <div>No pokemon provided</div>
</ng-template>
