:host {
  background-color: grey;
  height: calc(100% / 2 - 2em - 12px);
  background-color: grey;
}

.pokeDetails {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-left: 1em;
  gap: 1em;
}

img {
  width: 23em;
  height: 23em;
  border: solid;
  border-radius: 10px;
}

.details-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.name {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 3em;
}

.types {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

a:hover {
  color: gold;
}
